.vs/
x64/Debug/Main.obj
x64/Debug/main.obj.enc
x64/Debug/SuperStart.exe
x64/Debug/SuperStart.exe.recipe
x64/Debug/SuperStart.ilk
x64/Debug/SuperStart.log
x64/Debug/SuperStart.pdb
x64/Debug/SuperStart.vcxproj.FileListAbsolute.txt
x64/Debug/vc143.idb
x64/Debug/vc143.pdb
x64/Debug/SuperStart.tlog/CL.command.1.tlog
x64/Debug/SuperStart.tlog/Cl.items.tlog
x64/Debug/SuperStart.tlog/CL.read.1.tlog
x64/Debug/SuperStart.tlog/CL.write.1.tlog
x64/Debug/SuperStart.tlog/link.command.1.tlog
x64/Debug/SuperStart.tlog/link.read.1.tlog
x64/Debug/SuperStart.tlog/link.write.1.tlog
x64/Debug/SuperStart.tlog/SuperStart.lastbuildstate
x64/Release/Main.obj
x64/Release/SuperStart.exe
x64/Release/SuperStart.exe.recipe
x64/Release/SuperStart.iobj
x64/Release/SuperStart.ipdb
x64/Release/SuperStart.log
x64/Release/SuperStart.pdb
x64/Release/SuperStart.vcxproj.FileListAbsolute.txt
x64/Release/vc143.pdb
x64/Release/SuperStart.tlog/CL.command.1.tlog
x64/Release/SuperStart.tlog/Cl.items.tlog
x64/Release/SuperStart.tlog/CL.read.1.tlog
x64/Release/SuperStart.tlog/CL.write.1.tlog
x64/Release/SuperStart.tlog/link.command.1.tlog
x64/Release/SuperStart.tlog/link.read.1.tlog
x64/Release/SuperStart.tlog/link.write.1.tlog
x64/Release/SuperStart.tlog/link.write.2u.tlog
x64/Release/SuperStart.tlog/SuperStart.lastbuildstate
